<ion-header [translucent]="true">
  <ion-toolbar class="blah">
    <ion-title>
      Live News
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">News Portal</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-searchbar
    animated
    class="searchBar"
    (search)="searchEvent($event.target.value)"
  ></ion-searchbar>
  <div>
    <ion-content class="mainbody" *ngFor="let report of reply">
      <ion-title> Weather: {{ report.weather.main }} </ion-title>
    </ion-content>
  </div>

  <ion-grid class="grid">
    <ion-row>
      <ion-col>
        <ion-button (click)="changeToTechnology()">
          Technology
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button (click)="changeToBusiness()">
          Business
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button (click)="changeToWallStreet()">
          Wall Street
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button (click)="changeToSports()">
          Sports
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-card class="card" *ngFor="let item of data">
    <ion-card-header>
      <img [src]="item.urlToImage" />

      <ion-card-title class="text">{{ item.title }}</ion-card-title>
    </ion-card-header>
    <ion-card-content class="text">
      Source: {{item.source.name}}<br />
      {{ item.description }}<br /><br />
      Published: {{item.publishedAt}}<br />
      <a target="_blank" [href]="item.url"
        ><ion-button (click)="InAppB(item.url)" class="button" expand="block">
          Read More</ion-button
        ></a
      >
    </ion-card-content>
  </ion-card>
</ion-content>
