<ion-header [translucent]="true">
  <ion-toolbar class="blah">
    <ion-title>
      Live News
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar class="grid">
      <ion-button
        (click)="mydata()"
        class="logobutton"
        fill="clear"
        strong="true"
        >Live News</ion-button
      >
    </ion-toolbar>
  </ion-header>

  <ion-item>
    <ion-label>Top Selections</ion-label>
    <ion-select (ionChange)="seletCategory($event)">
      <ion-select-option value="internship">Internship</ion-select-option>
      <ion-select-option value="Corona">Corona</ion-select-option>
      <ion-select-option value="business">Business</ion-select-option>
      <ion-select-option value="technology">Technology</ion-select-option>
      <ion-select-option value="sports">Sports</ion-select-option>
      <ion-select-option value="Stocks">Wall Street</ion-select-option>
    </ion-select>
  </ion-item>
  <div>
    <ion-searchbar
      animated
      class="searchBar"
      (search)="searchEvent($event.target.value)"
    ></ion-searchbar>
  </div>

  <ion-card class="card" *ngFor="let item of data">
    <ion-card-header>
      <img [src]="item.urlToImage" />

      <ion-card-title class="text">{{ item.title }}</ion-card-title>
    </ion-card-header>
    <ion-card-content class="text">
      Source: {{item.source.name}}<br />
      {{ item.description }}<br /><br />
      Published: {{item.publishedAt}}<br />
      <a target="_blank" [href]="item.url"
        ><ion-button
          (click)="InAppB(item.url)"
          class="cardButton"
          expand="block"
        >
          Read More</ion-button
        ></a
      >
    </ion-card-content>
  </ion-card>
</ion-content>
